{% extends 'base.html' %}

{% block content %}
    <div class="flex-column">
        <!-- <h1 class="text-center">Center aligned text on all viewport sizes.</h1> -->
        <div class="d-flex justify-content-center m-5">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-person-add"></i> Nuevo Usuario </button>
        </div>
        <div class="container-lg px-5">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Fecha de registro</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Nombres</th>
                        <th scope="col">Celular</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <th scope="row">{{user['number']}}</th>
                        <td>{{user['date_created']}}</td>
                        <td>{{user['last_name']}}</td>
                        <td>{{user['first_name']}}</td>
                        <td>{{user['cell_phone']}}</td>
                        <td>
                            <!-- href="{{ url_for('main.download', filename="qrcode1.png")}}" target="_blank" -->
                            <a class="btn btn-outline-primary"><i class="bi bi-pen-fill"></i></a>
                            <a class="btn btn-outline-secondary"><i class="bi bi-file-earmark-arrow-down-fill"></i></a>
                            <a class="btn btn-outline-danger"><i class="bi bi-person-x-fill"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo Usuario</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="inputApellPat" class="form-label">Apellido Paterno</label>
                            <input type="text" class="form-control" id="apellPat" aria-describedby="apellPatHelp">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="mb-3">
                            <label for="inputApellMat" class="form-label">Apellido Materno</label>
                            <input type="text" class="form-control" id="apellMat" aria-describedby="apellMatHelp">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="mb-3">
                            <label for="inputfirstName" class="form-label">Primer Nombre</label>
                            <input type="text" class="form-control" id="firstName" aria-describedby="firstNameHelp">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="mb-3">
                            <label for="inputsecondName" class="form-label">Segundo Nombre</label>
                            <input type="text" class="form-control" id="secondName" aria-describedby="secondNameHelp">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <div class="mb-3">
                            <label for="inputCellPhone" class="form-label">Número de Celular</label>
                            <input type="text" class="form-control" id="cellPhone" aria-describedby="cellPhoneHelp">
                            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
                        </div>
                        <!-- <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div> -->
                        <!-- <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div> -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}